.ReactModal__Content {
  width: 100%;
  max-width: 500px;
  padding: 30px 20px 0 !important;
  @media (max-width: 1024px) {
    max-width: 400px;
    padding: 20px 10px 0 !important;
  }
  @media (max-width: 425px) {
    width: 300px;
    max-width: 90%;
  }

  .Error {
    color: red;
  }

  h2 {
    // text-transform: uppercase;
    padding: 0 20px;
    @media (max-width: 1024px) {
      font-size: 2em;
    }
    @media (max-width: 425px) {
      font-size: 1.2em;
    }
  }

  .FillLoanAmount {
    display: flex;
    justify-content: space-around;
    line-height: 100%;
    margin-bottom: 10px;
    margin-top: 25px;

    .Label {
      line-height: 35px;
    }

    .FormInputWrapper {
      width: 50%;

      .FormInput {
        width: 100%;
      }
    }
  }

  .ModalBody {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .Loading {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.5);

      .Loader {
        border: 6px solid rgba(0, 0, 0, .2);
        border-top: 6px solid rgba(134, 90, 235, 0.5);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 2s linear infinite;
      }
    }

    .Info {
      padding: 10px;
      margin-top: 20px;

      table {
        tr {
          td {
            padding: 2px 10px;
            box-shadow: 1px 1px 2px lightgrey;
            color: rgba(0, 0, 0, 0.6);

            &:first-child {
              color: #a87df3;
            }
          }
        }
      }
    }

    .Buttons {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 80px;

      > div {
        width: 160px;
        text-align: center;
        background: #a87df3;
        border-radius: 5px;
        line-height: 35px;
        color: white;
        cursor: pointer;

        &.Cancel {
          background: #f37d7d;
        }

        &.Disabled {
          background: lightgrey;
        }
      }
    }
  }

  button {
    -webkit-appearance: none;
    border: 0;
    width: 15px;
    height: 15px;
    background: transparent;
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 0;

    &:after,
    &:before {
      content: '';
      background-color: black;
      width: 15px;
      height: 2px;
      position: absolute;
      transform: rotate(45deg);
      left: 0;
      top: 6px;
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}
