.ListWrapper {
  display: block;
  position: relative;

  .Title {
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 20px;
    text-align: center;
    font-family: "SFProText-Bold", Helvetica, Arial, serif;
    font-size: 24px;
    color: rgba(0, 0, 0, .8);
    text-align: left;
    letter-spacing: .17px;
    line-height: 29px;
    padding: 0 40px 0 50px;
  }

  .Lists {
    max-height: 461px;
    min-height: 461px;
    overflow: auto;
    background: transparent;
  }

  .List {
    border: 1px solid #E6EAEE;
    border-radius: 3.4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 23px 40px 23px 50px;
    margin-bottom: 10px;
    position: relative;
    text-align: center;

    .ListField {
      display: inline-block;
      text-align: left;

      &:not(:first-child) {
        margin-top: 15px;
      }

      .Label {
        text-transform: uppercase;
        font-size: 12px;
        color: rgba(0, 0, 0, .3);
        line-height: 14px;
      }

      .Data {
        margin-top: 5px;
        font-size: 14px;
        color: black;
        line-height: 22px;
      }
    }

    .Actions {
      .close {
        position: absolute;
        width: 12px;
        height: 12px;
        background-image: url('../../assets/images/Close.png');
        right: 22px;
        top: 20px;
      }
    }
  }

  table {
    table-layout: fixed;
    width: 100%;
    text-align: center;

    thead {
      th {
        text-transform: uppercase;
        font-size: 12px;
        color: rgba(0, 0, 0, .3);
        text-align: center;
        line-height: 22px;
        white-space: nowrap;
      }
    }

    tbody {
      td {
        font-size: 14px;
        color: black;
      }

      button {
        background-color: white;
        padding: 0;
        width: 99px;
        line-height: 38px;
        border-radius: 3px;
        border-style: solid;
        border-width: 1px;
        border-color: rgba(151, 151, 151, 0.2);
        font-size: 14;
        color: rgba(0, 0, 0, 0.8);
        text-align: center;

        &.three-dot {
          height: 21px;
          width: 28px;
          border: .5px solid #A6B2C4;
          border-radius: 3.2px;

          .dot {
            background: #97a3b4;
            width: 3px;
            height: 3px;
            border-radius: 2px;
            display: inline-block;
            margin: 0 1px 1px;
          }
        }
      }
    }

    tr {
      line-height: 46px;

      .HealthBar {
        position: relative;

        .BarBase {
          height: 4.62px;
          border-radius: 2px;
          background-color: #DFE4EE;
          position: relative;

          .Fill {
            height: 4.62px;
            border-radius: 2px;
            width: 100%;
            background-color: #00D983;
          }
        }

        .BarMarks {
          width: 0;
          height: 0;
          border-left: 1.5px solid transparent;
          border-right: 1.5px solid transparent;
          border-bottom: 3.46px solid #a6b2c4;
          margin: 1.15px auto 0;

          &:after,
          &:before {
            content: '';
            width: 0;
            height: 0;
            border-left: 1px solid transparent;
            border-right: 1px solid transparent;
            border-bottom: 2.31px solid #a6b2c4;
            position: absolute;
            right: 1px;
          }

          &:after {
            left: 1px;
          }
        }

        .BarPercent {
          color: #AAB2C0;
          font-size: 5px;
          font-weight: 600;
          line-height: 6px;
          text-align: left;
          margin-top: 1.5px;
        }
      }
    }
  }

  .tbl-content {
    > div {
      max-height: 330px;
      min-height: 330px;
      overflow-x: auto;
    }

    &:after {
      content: '';
      position: absolute;
      width: calc(100% - 90px);
      height: 60px;
      bottom: 25px;

      background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 51%, rgba(0,0,0,0) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(49%, rgba(255,255,255,0.8)), color-stop(100%, rgba(255,255,255,1)));
      background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 51%, rgba(0,0,0,0) 100%);
      background: -o-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 51%, rgba(0,0,0,0) 100%);
      background: -ms-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 51%, rgba(0,0,0,0) 100%);
      background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 51%, rgba(0,0,0,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#000000', endColorstr='#FFFFFF',GradientType=0 );
    }
  }
}
