.ListWrapper {
  display: block;
  position: relative;

  .Title {
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 20px;
    text-align: center;
    font-family: "SFProText-Bold", Helvetica, Arial, serif;
    font-size: 24px;
    color: rgba(0, 0, 0, .8);
    text-align: left;
    letter-spacing: .17px;
    line-height: 29px;
    padding: 0 40px 0 50px;
  }

  .ListsWrapper {
    position: relative;

    .Lists {
      max-height: 475px;
      overflow: auto;
      background: transparent;
      position: relative;
    }
  }

  .List {
    border: 1px solid #E6EAEE;
    border-radius: 3.4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 23px 40px 23px 50px;
    margin-bottom: 10px;
    position: relative;
    text-align: center;

    .ListField {
      display: inline-block;
      text-align: left;

      &:first-child {
        display: none;
      }

      &:not(:first-child) {
        margin-top: 15px;
      }

      .Label {
        text-transform: uppercase;
        font-size: 12px;
        color: rgba(0, 0, 0, .3);
        line-height: 14px;
      }

      .Data {
        margin-top: 5px;
        font-size: 14px;
        color: black;
        line-height: 22px;

        .HealthBar {
          display: flex;
          justify-content: space-between;

          .BarBase {
            background-color: rgba(0, 0, 0, 0.08);
            height: 4px;
            width: 54%;
            margin-top: 9px;
            border-radius: 2px;

            .Fill {
              height: 4px;
              background: red;
              border-radius: 2px;
            }
          }
        }
      }
    }

    .Actions {
      .dropdown {
        position: absolute;
        right: 0;
        top: 0;

        .btn-secondary,
        .btn-secondary:active,
        .btn-secondary:hover {
          background-image: url('../../assets/images/3-dot.png');
          background-color: transparent;
          border-color: transparent;
          box-shadow: none;
        }
      }

      .close {
        position: absolute;
        width: 12px;
        height: 12px;
        background-image: url('../../assets/images/Close.png');
        background-repeat: no-repeat;
        right: 22px;
        top: 20px;
      }

      .three-dot {
        position: absolute;
        width: 19px;
        height: 3px;
        padding: 10px 0;
        background-image: url('../../assets/images/3-dot.png');
        background-repeat: no-repeat;
        background-position: center;
        right: 22px;
        top: 20px;
      }
    }
  }
}
