.TabWrapper {
  margin-top: -50px;
  margin-bottom: 25px;
  padding: 62px 30px 50px;
  background: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

  .Title {
    opacity: .8;
    font-family: "SFProText-Bold", Helvetica, Arial, serif;
    font-size: 24px;
    color: black;
    text-align: center;
    letter-spacing: .17px;
    line-height: 29px;
  }

  .Toggle {
    background-color: #f4f4f4;
    height: 89px;
    width: 357px;
    margin: 0 auto;
    border-radius: 44px;
    border: 1px solid rgba(0, 0, 0, 0.11);
    margin-top: 47px;
    position: relative;
    cursor: pointer;

    .Handle {
      text-transform: uppercase;
      position: absolute;
      top: -2px;
      font-family: "SFProText-Medium", Helvetica, Arial, serif;
      font-size: 18px;
      text-align: center;
      letter-spacing: .12px;
      line-height: 91px;
      width: 200px;
      border-radius: 50px;
      right: -2px;
      color: rgba(0, 0, 0, 0.39);
      transition: all .2s;

      &.Bar {
        background: -moz-linear-gradient(0deg, #8458ea 0%, #a57af2 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, #8458ea), color-stop(100%, #a57af2));
        background: -webkit-linear-gradient(0deg, #8458ea 0%, #a57af2 100%);
        background: -o-linear-gradient(0deg, #8458ea 0%, #a57af2 100%);
        background: -ms-linear-gradient(0deg, #8458ea 0%, #a57af2 100%);
        background: linear-gradient(90deg, #8458ea 0%, #a57af2 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#8458ea', endColorstr='#a57af2',GradientType=1 );
        left: -2px;
        box-shadow: 0 5px 15px rgba(166, 126, 240, 0.39);
        color: white;
        font-family: "SFProText-Bold", Helvetica, Arial, serif;
      }
    }

    &.Borrow {
      .Handle {
        right: calc(100% - 198px);

        &.Bar {
          left: calc(100% - 198px);
        }
      }
    }
  }

  .Wrangler {
    .Label {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.3);
      text-align: left;
      line-height: 14px;
      text-transform: uppercase;
    }

    select {
      border: 1px solid transparent;
      -webkit-appearance: none;
      font-family: "SFProText-Medium", Helvetica, Arial, serif;
      font-size: 14px;
      color: rgba(145, 102, 237, 1.0);
      padding: 10px 0;
    }
  }

  table {
    width: 100%;
    margin-top: 15px;
    table-layout: fixed;

    &:first-child {
      margin-top: 0;
    }

    thead {
      th {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.3);
        text-align: left;
        line-height: 14px;
        text-transform: uppercase;
      }
    }

    tbody {
      td {
        padding-right: 20px;
        padding-top: 10px;
        line-height: 22px;
        font-size: 13px;
        color: #002257;

        &:last-child {
          padding-right: 0;
        }

        .FormInput {
          position: relative;
          width: 100%;
          text-align: center;

          &.Button {
            cursor: pointer;
            border: 0;
            border-radius: 5px;
            padding: 10px;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            color: #FFFFFF;
            background: -moz-linear-gradient(0deg, #8155e9 0%, #a87df3 100%);
            background: -webkit-gradient(linear, left top, right top, color-stop(0%, #8155e9), color-stop(100%, #a87df3));
            background: -webkit-linear-gradient(0deg, #8155e9 0%, #a87df3 100%);
            background: -o-linear-gradient(0deg, #8155e9 0%, #a87df3 100%);
            background: -ms-linear-gradient(0deg, #8155e9 0%, #a87df3 100%);
            background: linear-gradient(90deg, #8155e9 0%, #a87df3 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#8155e9', endColorstr='#a87df3',GradientType=1 );

            &.Disabled {
              background: #bfbfbf;

              .left {
                display: none;
              }
            }

            &:not(.Disabled) {
              &:hover {
                transform: translate(-.5px, -.5px);
                text-shadow: 1px 1px 1px #5b91ed;
                box-shadow: 1px 1px 3px #7acaf1;
              }

              &:active {
                transform: translate(.5px, .5px);
              }
            }

            .left {
              content: '';
              width: 0;
              height: 0;
              border-right: 6px solid #8155e9;
              border-bottom: 5px solid transparent;
              border-top: 5px solid transparent;
              position: absolute;
              left: -6px;
              top: 17px;
            }
          }
        }

        input {
          width: 100%;
        }
      }
    }
  }
}
