.HeaderWrapper {
  background: -moz-linear-gradient(0deg, #8256e9 0%, #a67bf2 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #8256e9), color-stop(100%, #a67bf2));
  background: -webkit-linear-gradient(0deg, #8256e9 0%, #a67bf2 100%);
  background: -o-linear-gradient(0deg, #8256e9 0%, #a67bf2 100%);
  background: -ms-linear-gradient(0deg, #8256e9 0%, #a67bf2 100%);
  background: linear-gradient(90deg, #8256e9 0%, #a67bf2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#8256e9', endColorstr='#a67bf2',GradientType=1 );

  .Inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 531px;

    .Logo {
      img {
        height: 100%;
        width: 100%;
      }
    }

    .Header {
      .Info {
        margin-top: 40px;

        &.Address {
          margin-top: 70px;

          .Value {
            background: -moz-linear-gradient(0deg, #9871ee 0%, #a67ef0 100%);
            background: -webkit-gradient(linear, left top, right top, color-stop(0%, #9871ee), color-stop(100%, #a67ef0));
            background: -webkit-linear-gradient(0deg, #9871ee 0%, #a67ef0 100%);
            background: -o-linear-gradient(0deg, #9871ee 0%, #a67ef0 100%);
            background: -ms-linear-gradient(0deg, #9871ee 0%, #a67ef0 100%);
            background: linear-gradient(90deg, #9871ee 0%, #a67ef0 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#9871ee', endColorstr='#a67ef0',GradientType=1 );
            line-height: 70px;
            width: 600px;
            border-radius: 8px;
            margin-top: 13px;

            font-size: 16px;
            color: white;
            text-align: center;
            letter-spacing: 2.74px;
            box-shadow: 0 0 30px rgba(132, 83, 243, 0.3);
          }
        }

        .Label {
          text-transform: uppercase;
          margin: 0;
          font-size: 12px;
          color: white;
          text-align: center;
          line-height: 14px;
          height: 14px;
        }

        &:not(.Address) {
          display: flex;
          justify-content: space-between;
          padding: 0 15px;

          .SubInfo {
            .Label {
              text-align: left;
            }

            .Value {
              margin-top: 3px;
              font-size: 24px;
              color: white;
              text-align: left;
              line-height: 29px;
            }
          }
        }
      }
    }
  }
}
