.FormInputWrapper {
  border: 1px solid #DEDEDE;
  border-radius: 4px;

  .FormInput {
    position: relative;
    display: inline-flex;

    input {
      width: 100%;
      border: 0;
      padding: 9px 40px 9px 15px;
      font-size: 14.0px;
      color: rgba(0, 0, 0, 1.0);
    }

    &.Arrow {
      input {
        padding-right: 25px;
      }

      .after,
      .before {
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 5px solid #a6b2c4;
        position: absolute;
        right: 10px;
        bottom: 7px;
      }

      .after {
        top: 7px;
        border-top: 0;
        border-bottom: 5px solid #a6b2c4;
      }
    }

    .Suffix {
      position: absolute;
      right: 13px;
      top: 9px;
      font-size: 14.0px;
      color: rgba(0, 0, 0, .4);
    }

    &:first-child {
      input {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }
    }

    &:not(:first-child) {
      input {
        padding-left: 6px;
      }
    }

    &:last-child {
      input {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }
    }
  }
}
