.TableWrapper {
  display: block;
  position: relative;

  .Title {
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 20px;
    text-align: center;
    font-family: "SFProText-Bold", Helvetica, Arial, serif;
    font-size: 24px;
    color: rgba(0, 0, 0, .8);
    text-align: left;
    letter-spacing: .17px;
    line-height: 29px;
    padding: 0 40px 0 50px;
  }

  table {
    table-layout: fixed;
    width: 100%;
    text-align: center;

    thead {
      th {
        text-transform: uppercase;
        font-size: 12px;
        color: rgba(0, 0, 0, .3);
        text-align: center;
        line-height: 22px;
        white-space: nowrap;
      }
    }

    tbody {
      td {
        font-size: 14px;
        color: black;
      }

      button {
        background-color: white;
        padding: 0;
        width: 99px;
        line-height: 38px;
        border-radius: 3px;
        border-style: solid;
        border-width: 1px;
        border-color: rgba(151, 151, 151, 0.2);
        font-size: 14;
        color: rgba(0, 0, 0, 0.8);
        text-align: center;
        position: relative;

        &:hover {
          background: -moz-linear-gradient(0deg, #865aeb 0%, #a479f2 100%);
          background: -webkit-gradient(linear, left top, right top, color-stop(0%, #865aeb), color-stop(100%, #a479f2));
          background: -webkit-linear-gradient(0deg, #865aeb 0%, #a479f2 100%);
          background: -o-linear-gradient(0deg, #865aeb 0%, #a479f2 100%);
          background: -ms-linear-gradient(0deg, #865aeb 0%, #a479f2 100%);
          background: linear-gradient(90deg, #865aeb 0%, #a479f2 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#865aeb', endColorstr='#a479f2',GradientType=1 );
          font-size: 14px;
          color: white;

          &:before {
            content: '';
            width: 0;
            height: 0;
            border-right: 6px solid #865aeb;
            border-bottom: 5px solid transparent;
            border-top: 5px solid transparent;
            position: absolute;
            left: -6px;
            top: 14px;
          }
        }
      }
    }
  }

  .tbl-content {
    > div {
      max-height: 330px;
      min-height: 330px;
      overflow-x: auto;
    }

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 60px;
      bottom: 25px;

      background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 51%, rgba(0,0,0,0) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(49%, rgba(255,255,255,0.8)), color-stop(100%, rgba(255,255,255,1)));
      background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 51%, rgba(0,0,0,0) 100%);
      background: -o-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 51%, rgba(0,0,0,0) 100%);
      background: -ms-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 51%, rgba(0,0,0,0) 100%);
      background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 51%, rgba(0,0,0,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#000000', endColorstr='#FFFFFF',GradientType=0 );
    }

    tr {
      line-height: 46px;
    }
  }
}
